<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="{{url_for('static', filename = 'style_members.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="h1 text-center text-dark" id="pageHeaderTitle">Meet our Team</div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{url_for('static', filename='Rounak.jpeg')}}">
        </div>
        <div class="team-content">
          <h3 class="name">Rounak Kumar</h3>
          <h4 class="title">D22007</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{url_for('static', filename='Puneet.jpeg')}}">
        </div>
        <div class="team-content">
          <h3 class="name">PuneetChaturvedi</h3>
          <h4 class="title">D22039</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{url_for('static', filename='Shubham.jpeg')}}">
        </div>
        <div class="team-content">
          <h3 class="name">Shubham Pachpute</h3>
          <h4 class="title">D22045</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <!-- <img class="img-fluid" src="https://picsum.photos/130/130?image=836"> -->
        </div>
        <div class="team-content">
          <h3 class="name">Sidhant Jain</h3>
          <h4 class="title">D22046</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{url_for('static', filename='Sourabh.jpeg')}}">
        </div>
        <div class="team-content">
          <h3 class="name">Sourabh Lohote</h3>
          <h4 class="title">D22047</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
