
<link rel="stylesheet" href="{{url_for('static', filename = 'style_index.css')}}">
<nav class="shelf">
    <a href="/channels" class="book home-page" style="text-decoration:none">News Ginie</a>
    <!-- <a class="book about-us">About us</a> -->
    <a href="/members" class="book contact" style="text-decoration:none">About us</a>
    
    <span class="book not-found"></span>
   
    <span class="door left"></span>
    <span class="door right"></span>
  </nav>
  <h1 style="font-size:60px;">Error 404</h1>
  <p>The page you're loking for can't be found</p>
  
